@import "tailwindcss";

@theme {
  --color-aws-orange: #ff9900;
  --color-aws-orange-dark: #ec7211;
  --color-aws-orange-light: #ffb84d;
}

/* app.css */
html,
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #0f172b;
  min-height: 100%;
}

/* if you support dark mode via a class */
html.dark,
html.dark body {
  background-color: #0f172b; /* slate-900 */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.auth-ready {
  animation: fadeIn 150ms ease-in;
}
