# .github/workflows/backend-ci.yml
name: Backend CI

on:
  pull_request:
    branches:
      - main
    paths:
      - "backend/**"
  push:
    branches:
      - main
    paths:
      - "backend/**"

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: "npm"

      - name: Install node dependencies and run Tests
        run: npm install-ci-test
